.contact-main-container {
    border-radius: 10px;
    padding: 30px 10px;
}

.card-body-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-icon i {
    font-size: 23px;
    margin-right: 12px;
}

.contact-title {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: bolder;
}

.contact_social_icon {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-top: 20px;
}

.contact_social_icon a i {
    font-size: 25px;
    color: var(--secondary-color);
}